<nav class="navbar">
  <ul class="navbar-menu">
    <li class="navbar-item">
      <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="navbar-link">Home</a>
    </li>
    <li class="navbar-item">
      <a routerLink="/api-data" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="navbar-link">API Data</a>
    </li>
    <li class="navbar-item">
      <a routerLink="/feedback" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="navbar-link">Form</a>
    </li>
  </ul>
</nav>